
<div class="filter-input-container">
  <app-filter-input (filterChanged)="onFilterChanged($event)"></app-filter-input>
</div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Imagen </th>
      <td mat-cell *matCellDef="let element">
        <img src="{{element.photo}}" alt="Avatar" class="img__contact-avatar">
      </td>
    </ng-container>
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>
          <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>
          <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
          <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
          <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> País </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>
      <ng-container matColumnDef="job">
        <th mat-header-cell *matHeaderCellDef> Trabajo </th>
        <td mat-cell *matCellDef="let element"> {{element.job}} </td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Compañia </th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="btn-warning" (click)="openEditForm(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="btn-danger" (click)="deletedContact(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                [lang]="'es'"
                aria-label="Select page">
  </mat-paginator>
