.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

h3 {
  text-align: center;
  color: #1b6eff
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-top: 1px solid #ddd;
}

.actions button {
  font-weight: 500;
  min-width: 120px;
  border-radius: 8px;
}

button[mat-raised-button]{
  color: #333;
  background-color: #d7d5d5;
}
